<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        table {
            margin: 20px auto; 
            border-collapse: collapse;
            width: 60%; 
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Personal Blog</h1>
    <a href="/new">Add Post</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{post.title}}</td>
            <td class="action-buttons">
                <a href="/edit/{{post.id}}">Edit</a>
                <from action="/admin" method="Post">
                    <a href="/admin/delete/{{post.id}}">Delete</a>
                </from>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
